<% var pages = [ { pageName: 'About', pageDir: 'about' }, { pageName: 'Product', pageDir: 'product' }, { pageName:
'News', pageDir: 'news' }, { pageName: 'Blog', pageDir: 'blog' }, { pageName: 'Contact', pageDir: 'contact' } ] %>

<footer class="l-footer" role="contentinfo">
  <div class="l-footer__inner">
    <h1 class="l-footer__logo">
      <a class="l-footer__logoLink">ロゴ</a>
    </h1>
    <nav class="l-footer__gnav">
      <ul class="l-footer__gnavList" role="list">
        <% for (var i in pages) { %>
        <li class="l-footer__gnavListItem" role="listitem">
          <a class="l-footer__gnavListLink" href="/<%- pages[i].pageDir %>/"><%- pages[i].pageName %></a>
        </li>
        <% } %>
      </ul>
    </nav>
    <div id="pagetop" class="l-footerPagetop"><!-- ボタン --></div>
  </div>
</footer>
<script src="<%= baseMeta.path %>/assets/js/bundle.js"></script>
